body {
    background-image: url('/images/transparent-penguin-642f722dee9200.4933973716808310219772.png');
 background-size: 6px 6px;
 background-repeat: no-repeat;
 background-position: center center;
}